table {
    width:100%;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    border-spacing: 5px;
} 
tr:nth-child(even) {
    background: red;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    border-spacing: 5px;
}
tr:nth-child(odd) {
    background: #d3d3d3;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    border-spacing: 5px;
}
th, td {
    border: 1px solid black;
}
